{% extends "base.html" %} {% block title %}MyShelf{% endblock %} {% block
content %}

<div id="confirmationModal">
  <div
    class="bg-white p-8 w-3/4 sm:w-1/2 xl:w-1/3 mx-auto my-16 rounded-lg shadow-lg"
  >
    <h2 class="text-2xl font-semibold mb-4">Are you sure?</h2>
    <p class="text-gray-700 mb-6">
      You are about to <span id="actionText">edit</span> this whiskey. This
      action cannot be undone. Do you want to proceed?
    </p>
    <div class="flex justify-between">
      <button
        class="bg-gray-300 text-gray-700 font-semibold py-2 px-4 rounded"
        onclick="closeModal()"
      >
        Cancel
      </button>
      <form id="confirmationForm" action="" method="POST">
        <input type="hidden" name="whiskey_id" id="whiskeyIdInput" />
        <button
          id="actionBtn"
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
</div>

<section id="whiskey_hero" class="p-2 xl:p-4">
  <div
    class="flex flex-col xl:flex-row justify-around items-center m-2 p-4 bg-white border border-gray-200 rounded-lg shadow-lg shadow-black xl:w-full"
  >
    <div class="flex flex-col p-4 leading-normal h-full w-full">
      <h5
        class="text-4xl break-words font-bold tracking-tight text-gray-900 mb-2"
      >
        {{whiskey.name}}
      </h5>
      <hr class="mb-8" />
      <p class="mb-3 font-normal text-2xl text-gray-500">
        <span class="font-semibold">Distillery:</span> {{whiskey.distillery}}
      </p>
      <p class="mb-3 font-normal text-2xl text-gray-500">
        <span class="font-semibold">Category:</span> {{whiskey.category}}
      </p>
      <p class="mb-3 font-normal text-2xl text-gray-500">
        <span class="font-semibold">AGE:</span> {{whiskey.age}}
      </p>
      <p class="mb-3 font-normal text-2xl text-gray-500">
        <span class="font-semibold">ABV:</span> {{whiskey.abv}}%
      </p>
      <p class="mb-3 font-normal text-2xl text-gray-500">
        <span class="font-semibold">Rating:</span> {{ whiskey.rating.rating }}
      </p>
      <p class="mb-3 font-normal text-2xl text-gray-500">
        <span class="font-semibold">Submitted by:</span>
        <a class="text-blue-800" href="/usershelf/{{whiskey.creator.id}}"
          >{{ creator.creator.username}}</a
        >
      </p>
    </div>
    <div class="border h-full w-full flex justify-center">
      <img
        class="object-contain rounded-t-lg w-60 h-120 rounded-none rounded-l-lg m-1"
        src="{{ image_urls[whiskey.id] }}"
        alt=""
      />
    </div>

    <div class="flex flex-col h-full w-full">
      {% if whiskey.creator.id == user.id %}

      <button
        onclick="openModal({{whiskey.id}}, 'edit')"
        class="ml-auto mt-2 mr-2 z-10 text-blue-500 hover:text-blue-700 self-start"
      >
        <i class="fa fa-edit pointer-events-none"></i>
      </button>

      <button
        onclick="openModal({{whiskey.id}}, 'delete')"
        class="ml-auto mt-2 mr-2 z-10 text-red-500 hover:text-red-700 self-start"
      >
        <i class="fas fa-trash pointer-events-none"></i>
      </button>
      {% endif %}
      <div
        class="flex flex-col justify-between p-4 leading-normal h-full w-full"
      >
        <form
          class="mb-8 text-md block text-md max-w-sm p-6 mx-auto mt-6 bg-white border border-gray-200 rounded-lg drop-shadow-lg md:w-full md:text-xl"
          action="/whiskey/{{whiskey.id}}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="mb-6">
            <label for="rating" class="block mb-2 font-medium text-gray-900"
              >Rating</label
            >
            <input
              type="number"
              id="rating"
              name="rating"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 caret-black"
              value="{{ whiskey.rating.rating }}"
              required
            />
          </div>
          {% if whiskey.creator.id == user.id%}

          <div class="mb-6">
            <label
              class="block mb-2 text-sm font-medium text-gray-900"
              for="image"
              >Upload Bottle Image (Public Image)</label
            >
            <input
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none caret-black"
              aria-describedby="file_input_help"
              id="image"
              type="file"
              name="image"
            />
            <p class="mt-1 text-sm text-gray-500" id="file_input_help">
              SVG, PNG, JPG or GIF (MAX. 800x400px).
            </p>
          </div>
          {% endif %}

          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="bg-white py-8 px-2 max-w-4xl mx-auto lg:py-16 xl:px-8">
  <div class="mx-auto px-4">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-lg lg:text-2xl font-bold text-gray-900">Discussion</h2>
    </div>
  </div>
  <form class="mb-6" action="/comment/{{whiskey.id}}" method="post">
    <div
      class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200"
    >
      <label for="comment" class="sr-only">Your comment</label>
      <textarea
        id="comment"
        rows="6"
        name="comment"
        class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none caret-black"
        placeholder="Write a comment..."
        required
      ></textarea>
    </div>
    <button
      type="submit"
      class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center bg-blue-700 hover:bg-blue-800 text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800"
    >
      Post comment
    </button>
  </form>
  {% for comment in comments %}
  <article
    class="p-4 text-base bg-white rounded-lg border border-gray-500 mb-4"
  >
    <header class="">
      <div class="flex justify-between items-center mb-2 relative">
        <div class="flex items-end text-end">
          <span class="mr-5 text-lg font-semibold text-gray-900"
            ><a
              class="text-blue-800"
              href="/usershelf/{{comment.creator.id}}"
            >
            {{ comment.creator.username }}</span
          ></a>
          <span class="text-lg text-gray-600"
            ><time
              pubdate
              datetime="{{ comment.created_at }}"
              title="{{ comment.created_at }}"
              >{{ comment.created_at.strftime('%a, %B %d')}}</time
            ></span
          >
        </div>
        <div class="cursor-pointer">
          <button
            id="dropdownComment{{ comment.id }}Button"
            data-dropdown-toggle="dropdownComment{{ comment.id }}"
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
            type="button"
          >
            <svg
              class="w-5 h-5 pointer-events-none"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
              ></path>
            </svg>
            <span class="sr-only">Comment settings</span>
          </button>
        </div>
        <!-- Dropdown menu -->
        <div
          id="dropdownComment{{ comment.id }}"
          class="dropdown-content hidden origin-top-right right-0 z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow absolute top-full"
        >
          <ul
            class="py-1 text-sm text-gray-700"
            aria-labelledby="dropdownMenuIconHorizontalButton"
          >
            {% if comment.creator.id == user.id %}
            <li>
              <a
                href="/comment/delete/{{ whiskey.id }}/{{ comment.id }}"
                class="block py-2 px-4 hover:bg-gray-100"
                >Remove</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <hr class="h-px bg-gray-200 border-0 mb-4" />
    </header>

    <p class="text-gray-700">{{ comment.comment }}</p>
    <div class="flex items-center mt-8 space-x-4">
      <button
        type="button"
        class="flex items-center text-sm text-gray-500 hover:underline replyButton"
        data-form-id="replyForm{{ comment.id }}"
      >
        <svg
          aria-hidden="true"
          class="mr-1 w-4 h-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
          ></path>
        </svg>
        Reply
      </button>
    </div>
  </article>
  <form
    id="replyForm{{ comment.id }}"
    class="replyForm hidden mb-6"
    action="/reply/{{whiskey.id}}/{{comment.id}}"
    method="post"
  >
    <div
      class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200"
    >
      <label for="reply{{ comment.id }}" class="sr-only">Your reply</label>
      <textarea
        id="reply{{ comment.id }}"
        rows="4"
        name="content"
        class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none caret-black"
        placeholder="Write a reply..."
        required
      ></textarea>
    </div>
    <button
      type="submit"
      class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center bg-blue-700 hover:bg-blue-800 text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800"
    >
      Post reply
    </button>
  </form>
  {% for reply in comment.replies %}
  <article
    class="p-4 text-base bg-white rounded-lg border border-gray-500 mb-4 ml-12"
  >
    <header class="">
      <div class="flex justify-between items-center mb-4 relative">
        <div class="flex items-end text-end">
          <span class="mr-5 text-lg font-semibold text-gray-900"
            ><a
            class="text-blue-800"
            href="/usershelf/{{reply.creator.id}}"
          >{{ reply.creator.username }}</a></span
          >
          <span class="text-lg text-gray-600"
            ><time
              pubdate
              datetime="{{ reply.created_at }}"
              title="{{ reply.created_at }}"
              >{{ reply.created_at.strftime('%a, %B %d')}}</time
            ></span
          >
        </div>
        <div class="cursor-pointer">
          <button
            id="dropdownreply{{ reply.id }}Button"
            data-dropdown-toggle="dropdownreply{{ reply.id }}"
            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50"
            type="button"
          >
            <svg
              class="w-5 h-5 pointer-events-none"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
              ></path>
            </svg>
            <span class="sr-only">Reply settings</span>
          </button>
        </div>
        <!-- Dropdown menu -->
        <div
          id="dropdownreply{{ reply.id }}"
          class="dropdown-content hidden origin-top-right right-0 z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow absolute top-full"
        >
          <ul
            class="py-1 text-sm text-gray-800"
            aria-labelledby="dropdownMenuIconHorizontalButton"
          >
            {% if reply.creator.id == user.id %}
            <li>
              <a
                href="/reply/delete/{{ whiskey.id }}/{{ reply.id }}"
                class="block py-2 px-4 hover:bg-gray-100"
                >Remove</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
    <p class="text-gray-600">{{ reply.content }}</p>
  </article>
  {% endfor %}
  <hr class="h-px bg-gray-200 border-0 mb-6" />
  {% endfor %}
</section>
{% endblock %}
