*:hover {
  cursor: default;
  caret-color: transparent;
}

.spacer {
  height: 30px;
}

button {
  background-color: transparent;
}

.preview_img {
  max-width: 400px;
}

.home_hero {
  min-width: 350px;
}

.bordered {
  border: 3px solid black;
}

.shadow-card {
  border: 10px solid white;
  border-radius: 5px;
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.3);
}

.login-button {
  background-color: blue;
  width: 400px;
  height: 200px;
  font-size: 100px;
}

/*** NavBar ***/
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
}

.navbar-toggle.hide {
  right: 200px;
  opacity: 0;
  pointer-events: none;
}

.navbar-menu {
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100%;
  background-color: #222;
  padding: 20px;
  transition: all 0.3s ease;
}

.navbar-menu li {
  margin-bottom: 10px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  margin-top: -35px;
}

.close-btn:hover {
  color: #aaa;
}

.navbar-menu.active + .navbar-toggle {
  right: 200px;
  opacity: 0;
  pointer-events: none;
}

.navbar-menu.active {
  right: 0;
}

.nav-link-text {
  font-size: 4rem;
}

/*** End NavBar ***/
