<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {%block links%}{%endblock%}
    <title>{%block title%}{%endblock%}</title>
  </head>
  <body>
    <nav class="bg-gray-900 px-8 py-3">
      <div class="flex items-center justify-between">
        <div>
          <a href="/" class="text-white font-bold">Top Shelf Whiskey</a>
        </div>
        <div class="flex md:hidden">
          <button
            type="button"
            class="toggle-menu text-white hover:text-gray-300 focus:outline-none focus:text-gray-300"
            id="toggleButton"
          >
            <img
              class="w-5"
              src="{{url_for('static',filename='images/bars-solid.png')}}"
              alt=""
            />
          </button>
        </div>
        <div class="hidden md:flex">
          <ul class="flex space-x-4 text-gray-300">
            <li><a href="/myshelf">My Shelf</a></li>
            <li><a href="/topwhiskey">Top Whiskey</a></li>
            <li><a href="/whiskeys/new">Add Whiskey</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-menu hidden md:hidden" id="navbarMenu">
        <ul class="flex mt-4 flex-col space-y-4 text-gray-300">
          <li><a href="/myshelf">My Shelf</a></li>
          <li><a href="/topwhiskey">Top Whiskey</a></li>
          <li><a href="/whiskeys/new">Add Whiskey</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <script src="{{url_for('static',filename='js/script.js')}}"></script>
  </body>
</html>
