<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Top Shelf Whiskey</title>
  </head>
  <body>
    <section>
          <div class="col">
            <h1 class="fs-1">Top Shelf Whiskey</h1>
            <h4>A whiskey collectors app</h4>
          </div>
          <div class="col d-flex justify-content-end">
            <div>
              <a class="btn btn-primary" href="/login">Login</a>
              <a class="btn btn-primary" href="/register">Sign Up</a>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="spacer"></div>
          <div class="home_hero col my-auto">
            <p>
              This site is to help all levels of whiskey enthusist organize,
              rate, and compare their collections.
            </p>
            <ul>
              <li>Let others know what you think of their shelfs.</li>
              <li>Compare your ratings to others</li>
              <li>
                see an intersting bottle on someones shelf, ask them what they
                think or where they got it
              </li>
              <li>add bottes that you want to try later</li>
              <li>
                leave notes for bottles you want to buy again in the future
              </li>
            </ul>
          </div>
          <div class="col home_hero mt-5">
            <img
              class="preview_img img-fluid bordered"
              src="static/images/2 My Shelf.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
