{% extends "base.html" %} {% block title %}MyShelf{% endblock %} {% block
content %}
<section id="catagories" class="p-2 xl:p-4">
  <div class="flex flex-wrap justify-center xl:justify-start">
    <form
      method="get"
      action="/myshelf"
      class="mb-4 w-fit ml-2 mr-10 mt-10 xl:mx-10 text-white bg-slate-500 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center shadow-md shadow-slate-900 ease-out duration-300"
    >
      <input
        type="hidden"
        name="category"
        value="{{ request.args.get('category', 'All') }}"
      />

      <div class="form-group">
        <label class="py-2 text-sm dark:text-gray-200" for="sort"
          >Sort by rating:</label
        >
        <select
          class="py-2 text-sm text-gray-700 dark:text-gray-200 rounded-lg"
          name="sort"
          id="sort"
          onchange="this.form.submit()"
        >
          <option
            class="block px-4 py-2 hover:bg-gray-100"
            value="desc"
            {%
            if
            sort_by_rating
            %}selected{%
            endif
            %}
          >
            High-Low
          </option>
          <option
            class="block px-4 py-2 hover:bg-gray-100"
            value="asc"
            {%
            if
            not
            sort_by_rating
            %}selected{%
            endif
            %}
          >
            Low-High
          </option>
        </select>
      </div>
    </form>

    <form method="get" action="/myshelf" class="mb-4 w-fit ml-2 mr-10 mt-10 xl:mx-10 text-white bg-slate-500 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center shadow-md shadow-slate-900 ease-out duration-300">
      <input type="hidden" name="sort" value="{{ request.args.get('sort', 'desc') }}">
    
      <div class="form-group">
        <label class="py-2 text-sm dark:text-gray-200" for="category">Filter by category:</label>
        <select class="py-2 text-sm text-gray-700 dark:text-gray-200 rounded-lg" name="category" id="category" onchange="this.form.submit()">
          {% for category in categories %}
            <option class="block px-4 py-2 hover:bg-gray-100" value="{{ category }}" {% if request.args.get("category", "All") == category %}selected{% endif %}>{{ category }}</option>
          {% endfor %}
        </select>
      </div>
    </form>

    <form method="get" action="/myshelf" class="mb-4 w-fit ml-2 mr-10 mt-10 xl:mx-10 text-white bg-slate-500 hover:bg-slate-600 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center shadow-md shadow-slate-900 ease-out duration-300">
      <div class="form-group">
        <label class="py-2 text-sm dark:text-gray-200" for="search">Search:</label>
        <input type="hidden" name="category" value="{{ current_category }}" />
        <input type="hidden" name="sort_order" value="{{ current_sort_order }}" />
        <input class="py-2 px-2 text-sm text-gray-700 dark:text-gray-200 rounded-lg" type="text" name="search" id="search" value="{{ request.args.get('search', '') }}" />
        <button type="submit" class="ml-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Go</button>
      </div>
    </form>
    
  </div>
</section>
<section
  class="p-2 xl:p-4 flex flex-col justify-between items-start lg:flex-row"
>
  <div id="whiskey-cards" class="flex flex-wrap justify-start xl:ml-8">
    {% if whiskeys|length < 1 %}
    <a
      href="/topwhiskey"
      class="card flex flex-row items-center m-2 bg-white border border-gray-200 rounded-lg max-w-xl shadow-lg shadow-black  hover:scale-125"
    >
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Top Whiskeys
        </h5>
        <p class="mb-3 font-semibold text-gray-700 dark:text-gray-400">
          Go checkout the top rated whiskeys and add them to your shelf by
          rating the ones you have tried.
        </p>
      </div>
    </a>
    <a
      href="/whiskeys/new"
      class="card flex flex-row items-center text-start m-2 bg-white border border-gray-200 rounded-lg max-w-xl shadow-lg shadow-black  hover:scale-125"
    >
      <div class="flex flex-col content-between p-4 leading-normal">
        <h5
          class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Add a Whiskey
        </h5>
        <p class="mb-3 font-semibold text-gray-700 dark:text-gray-400">
          If you cant find the whiskey you are looking for, you can add it.
        </p>
      </div>
    </a>

    {% endif %} {% for whiskey in whiskeys %}
    <a
      href="/whiskey/{{whiskey.id}}"
      class="card flex flex-row items-center m-2 bg-white border-2 border-gray-200 rounded-lg shadow-lg shadow-black"
    >
      <img
        class="object-contain rounded-t-lg h-40 w-20 rounded-none rounded-l-lg ml-1"
        src="{{ image_urls[whiskey.id] }}"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{whiskey.name}}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          ABV: {{whiskey.abv}}%
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Rating: {{whiskey.rating.rating}}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
  <div
    id="recently-rated"
    class="flex w-80 flex-col items-center text-end  py-4 px-8 my-4 border-4 border-slate-800 rounded-lg bg-slate-300 shadow-md shadow-black xl:mr-8"
  >
    <h2 class="text-4xl text-center font-bold">Recently Rated</h2>
    {% if whiskeys|length < 1 %}
    <h1 class="mt-4">You haven't rated any whiskey yet</h1>

    {% endif %} {% for whiskey in recent %}
    <a
      href="/whiskey/{{whiskey.id}}"
      class="card flex flex-row items-center m-2 bg-white border border-gray-200 rounded-lg shadow-lg shadow-black "
    >
      <img
        class="object-contain rounded-t-lg h-40 w-20 rounded-none rounded-l-lg"
        src="{{ image_urls[whiskey.id] }}"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5
          class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{whiskey.name}}
        </h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          ABV: {{whiskey.abv}}%
        </p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Rating: {{whiskey.rating.rating}}
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
