<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Top Shelf Whiskey</title>
  </head>
  <body>
    <button class="navbar-toggle" id="navbar-toggle">
      <img
        class="icon-nav img-fluid"
        src="{{ url_for('static', filename='images/hamburger-menu-icon.svg') }}"
        alt=""
      />
    </button>
    <nav class="navbar-menu" id="navbar-menu">
      <button class="close-btn" id="close-btn">&times;</button>
      <ul>
        <li><a class="nav-link fs-4" href="#">Home</a></li>
        <li><a class="nav-link fs-4" href="#">About</a></li>
        <li><a class="nav-link fs-4" href="#">Services</a></li>
        <li><a class="nav-link fs-4" href="#">Contact</a></li>
      </ul>
    </nav>
    <section>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-4 p-4 shadow-card">
            {% with register_messages =
            get_flashed_messages(with_categories=True,
            category_filter='register') %} {% if register_messages %}
            <ul class="text-danger">
              {% for category, message in register_messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <h2 class="text-center">Sign Up</h2>
            <form class="form" action="/create_user" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label">Username:</label>
                <input type="text" class="form-control" name="fname" />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email Address:</label>
                <input type="email" class="form-control" name="email" />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" />
              </div>
              <div class="mb-3">
                <label for="text" class="form-label">Confirm Password:</label>
                <input
                  type="password"
                  class="form-control"
                  name="password_confirm"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
